  <div fxLayout="column" fxLayoutAlign="start right" fxLayoutGap="60px">
      <div>
      <mat-form-field>
          <mat-select placeholder="selection type" [(ngModel)]="selectionType">
            <mat-option *ngFor="let select of selections" value="{{select.value}}">
              {{select.viewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput [(ngModel)]="keyword" placeholder="keyword" >
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" (click)="search()">Search</button>
      </div>
      
      <div>
        <table matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
         
          <tr>
            <th mat-sort-header="id">Id </th>
            <th mat-sort-header="thumbnail">Thumbnail</th>
            <th mat-sort-header="title">Title</th>
            <th mat-sort-header="author">Author</th>
          </tr>
          <tr *ngFor="let element of sortedData">
            <td>{{element.id}}</td>
            <td>{{element.thumbnail}}</td>
            <td>{{element.title}}</td>
            <td>{{element.author}}</td>
          </tr>
          
        </table>
        
      </div>
      </div>